<h3>Tienes cambios sin guardar</h3>
<span>Si abandonas la pagina sin guardar perderas los cambios realizados</span>
<div class="modal-body-actions">
  <%= link_to "cancelar", '#', class: "round-button cancel-destroy" %>
  <%= link_to "abandonar página", characters_path, class: "round-button confirm-destroy" %>
</div>
